//
// Exec CGI
//
// Copyright (c) 2020-2022 Grigore Stefan <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-application-version--os-windows-rc.hpp"
#include "exec-cgi-version.hpp"
#include "exec-cgi-copyright.hpp"

1  ICON "exec-cgi.ico"

XYO_APPLICATION_VERSION_INFO(EXEC_CGI,"exec-cgi.exe","Execute php script as cgi")
